<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品列表</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
                {% if request.session.user_name|default:'' != '' %}
				<div class="login_btn fl">
					欢迎您：<em>{{ request.session.user_name }}</em>
                    <span>|</span>
                    <a href="/user/out/">退出</a>
				</div>
                {% else %}
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/zhuce/">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/user_center_info/">用户中心</a>
					<span>|</span>
					<a href="/cart/carts/">我的购物车</a>
					<span>|</span>
					<a href="/user/user_center_order/">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="/goods/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/cart/carts/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">2</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goods/list1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/list3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/list4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/list6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/goods/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goods/">全部分类</a>
		<span>></span>
		<a href="/goods/list{{ list.id }}_1_1/">{{ list.ttitle }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for i in newlist %}
					<li>
						<a href="/goods/detail{{ i.id }}"><img src="/static/{{ i.gimage }}"></a>
						<h4><a href="#">{{ i.gtitle }}</a></h4>
						<div class="prize">￥{{ i.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/goods/list{{ list.id }}_1_1/" {% if moren == '1' %} class="active"{% endif %}>默认</a>
				<a href="/goods/list{{ list.id }}_2_1/" {% if moren == '2' %} class="active" {% endif %}>价格</a>
				<a href="/goods/list{{ list.id }}_3_1/" {% if moren == '3' %} class="active" {% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for m in pagelist %}
				<li>
					<a href="/goods/detail{{ m.id }}/"><img src="/static/{{ m.gimage }}"></a>
					<h4><a href="/goods/detail/">{{ m.gtitle|slice:'10' }}...</a></h4>
					<div class="operate">
						<span class="prize">￥{{ m.gprice }}</span>
						<span class="unit">{{ m.gprice }}/500g</span>
						<a href='/cart/add{{ m.id }}_1/' class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods004.jpg"></a>#}
{#					<h4><a href="#">吐鲁番梨光杏</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥5.50</span>#}
{#						<span class="unit">5.50/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods005.jpg"></a>#}
{#					<h4><a href="#">黄肉桃</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥10.00</span>#}
{#						<span class="unit">10.00/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods006.jpg"></a>#}
{#					<h4><a href="#">进口西梅</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥28.80</span>#}
{#						<span class="unit">28.8/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods007.jpg"></a>#}
{#					<h4><a href="#">香梨</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥6.45</span>#}
{#						<span class="unit">6.45/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods008.jpg"></a>#}
{#					<h4><a href="#">栗子</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥9.50</span>#}
{#						<span class="unit">9.50/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods009.jpg"></a>#}
{#					<h4><a href="#">海南香蕉</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥3.30</span>#}
{#						<span class="unit">3.30/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods010.jpg"></a>#}
{#					<h4><a href="#">青苹果</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥5.00</span>#}
{#						<span class="unit">5.00/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods011.jpg"></a>#}
{#					<h4><a href="#">山莓</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥28.80</span>#}
{#						<span class="unit">28.8/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods012.jpg"></a>#}
{#					<h4><a href="#">奇异果</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥25.80</span>#}
{#						<span class="unit">25.8/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods013.jpg"></a>#}
{#					<h4><a href="#">蜜桔</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥4.80</span>#}
{#						<span class="unit">4.8/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods014.jpg"></a>#}
{#					<h4><a href="#">脐橙</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥3.50</span>#}
{#						<span class="unit">3.50/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods001.jpg"></a>#}
{#					<h4><a href="#">进口柠檬</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥3.90</span>#}
{#						<span class="unit">3.90/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<a href="#"><img src="/static/images/goods/goods002.jpg"></a>#}
{#					<h4><a href="#">玫瑰香葡萄</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥16.80</span>#}
{#						<span class="unit">16.80/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
			</ul>

			<div class="pagenation">

                {% if pagelist.has_previous %}
				<a href="/goods/list{{ list.id }}_{{ moren }}_{{ pagelist.previous_page_number }}/">上一页</a>
                {% endif %}

                {% for i in p.page_range %}
                    {% if i == pagelist.number %}
                        <a href="#" class="active">{{ i }}</a>
                    {% else %}
                        <a href="/goods/list{{ list.id }}_{{ moren }}_{{ i }}/">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if pagelist.has_next %}
				<a href="/goods/list{{ list.id }}_{{ moren }}_{{ pagelist.next_page_number }}/">下一页</a>
                {% endif %}
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>